img {
  display: block;
  width: 100px;
  text-align: center;
}

.section {
  background-color: linen;
  margin-bottom: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 50px;
  margin-right: 50px;
}
