body {
  background-color: pink;
  width: 50%;
}

h1,
p,
li {
  font-family: serif;
  color: midnightblue;
}

h1 {
  font-size: 20;
  font-weight: bold;
  text-align: center;
  border: dotted;
}

p {
  font-size: 16;
}
