html {
	padding: 20px;
}
body {
	background-color: rgb(179,232,182);
}
a {
	color: black;
}
.white_text {
	color: white;
}





.menu_box {
	margin: 10px;
	padding: 10px;
	background-color: rgb(30, 45, 36);
	border-radius: 10px;
}
.menu {
	padding: 0px;
	margin: 10px;
}
.menu_item,
.current_page {
	display: inline;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	margin: inherit;
	border-radius: 10px;
}

.menu_item {
	background-color: rgb(42,77,64);
	margin: inherit;
}
.menu_item:hover {
	background-color: rgb(42,77,64, 70%);
}

.current_page {
	border: 2px;
	border-style: solid;
	border-color: white;
}
.current_page:hover {
	background-color: rgb(179,232,182,40%);
	text-color: black;
}

.resource {
	color: inherit;
	background-color: rgb(55,166,118);
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
}








.section {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	padding-left: 15px;
	padding-right: 15px;
	
	background-color: rgb(65,186,122,70%);
	border-radius: 10px;
}







.home_resource {
	margin-left: 10px;
	margin-right: 10px;
	padding: 10px;

	background-color: rgb(42,77,64);
	border-radius: 10px;
	height: 50px;
}
.resource_bar_item {
	display: inline;
}
#resource_bar {
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}
