html {
	padding: 20px;
}

.menu_box {
	margin: 10px;
	padding: 10px;
	background-color: pink;
}
.menu {
	padding: 0px;
	margin: 10px;
}
.menu_item,
.current_page {
	display: inline;
	padding: 5px;
	margin: inherit;
}

.menu_item {
	background-color: midnightblue;
	margin: inherit;
}
.menu_item:hover {
	background-color: blue;
}

.current_page {
	border: 3px;
	border-style: solid;
	border-color: black;
}


.menu_link {
	color: white;
}
.resource {
	color: inherit;
	border: 2px;
	border-style: solid;
	border-color: black;
	padding: 3px;
}
